header
  .container
    a.logo(href="#") elzero
    ul.main-links
      li: a(href="#article") articles
      li: a(href="#gallery") gallery
      li: a(href="#features") features
      li.other-links
        a(href="#") other links
        .mega-menu
          img(src="../../images/megamenu.png", alt="")
          ul.links(style="--n-links: 10")
            li: a(href="#testimonials") #[i.far.fa-comments.fa-fw] testimonials
            li: a(href="#team") #[i.far.fa-user.fa-fw] team members
            li: a(href="#services") #[i.far.fa-building.fa-fw] services
            li: a(href="#skill") #[i.far.fa-check-circle.fa-fw] our skills
            li: a(href="#work") #[i.far.fa-clipboard.fa-fw] how it works
            li: a(href="#events") #[i.far.fa-calendar-alt.fa-fw] events
            li: a(href="#pricing") #[i.fas.fa-server.fa-fw] pricing plans
            li: a(href="#videos") #[i.far.fa-play-circle.fa-fw] top videos
            li: a(href="#stat") #[i.far.fa-chart-bar.fa-fw]stats
            li: a(href="#discount") #[i.fas.fa-percent.fa-fw] request a discount
