<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Kasper</title>
    <link rel="stylesheet" href="css/_.css" />
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/media-screen.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <!-- start header -->
    <header>
      <div class="container">
        <a href="#">
          <img src="images/logo.png" alt="logo" class="logo">
        </a>
        <nav>
          <i class="fas fa-bars toggle-menu"></i>
          <ul>
            <li><a href="#" class="active">home</a></li>
            <li><a href="#">services</a></li>
            <li><a href="#">portfolio</a></li>
            <li><a href="#">about</a></li>
            <li><a href="#">pricing</a></li>
            <li><a href="#">contact</a></li>
          </ul>
          <div class="form">
            <i class="fas fa-search"></i>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header -->

    <!-- start landing -->
    <div class="landing">
      <div class="overlay"></div>
      <div class="info-text">
        <div class="content">
          <h2>Hello World!<br>We Are Kasper We Make Art.</h2>
          <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam. Accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
        </div>
      </div>
      <i class="fas fa-angle-left arrows fa-2x"></i>
      <i class="fas fa-angle-right arrows fa-2x"></i>
      <div class="bullets">
        <span></span>
        <span class="active"></span>
        <span></span>
      </div>
    </div>
    <!-- end landing -->

    <!-- start services -->
    <div class="services">
      <div class="container">
        <div class="main-heading">
          <h2>services</h2>
          <p>
            Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.
          </p>
        </div>
        <div class="service-list">
          <div class="service">
            <i class="fas fa-desktop fa-3x"></i>
            <div class="text">
              <h3>Vorem amet intuitive</h3>
              <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
            </div>
          </div>
          <div class="service">
            <i class="fas fa-cog fa-3x"></i>
            <div class="text">
              <h3>Vorem amet intuitive</h3>
              <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
            </div>
          </div>
          <div class="service">
            <i class="fas fa-pencil-ruler fa-3x"></i>
            <div class="text">
              <h3>Vorem amet intuitive</h3>
              <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
            </div>
          </div>
          <div class="service">
            <i class="fas fa-camera fa-3x"></i>
            <div class="text">
              <h3>Vorem amet intuitive</h3>
              <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end services -->

    <!-- start design -->
    <div class="design">
      <div class="overlay"></div>
      <div class="container">
        <img src="./images/mobile.png" alt="">
      </div>
      <div class="info-text">
        <div class="content">
          <h2>OUR DESIGN COMES WITH...</h2>
          <ul>
            <li><i class="fas fa-desktop"></i> Responsive Design</li>
            <li><i class="fas fa-desktop"></i> Modern And Clean Design</li>
            <li><i class="fas fa-desktop"></i> Clean Code</li>
            <li><i class="fas fa-desktop"></i> Browser Friendly</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- end design -->

    <!-- start portfolio -->
    <div class="portfolio">
      <div class="main-heading">
        <h2>portfolio</h2>
        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
      </div>
      <ul>
        <li class="active">all</li>
        <li>app</li>
        <li>photo</li>
        <li>web</li>
        <li>print</li>
      </ul>
      <div class="images">
        <div class="img">
          <img src="./images/shuffle-01.jpg" alt="">
          <div class="text">
            <h4>Awesome Image</h4>
            <p>Photography</p>
          </div>
        </div>
        <div class="img">
          <img src="./images/shuffle-02.jpg" alt="">
          <div class="text">
            <h4>Awesome Image</h4>
            <p>Photography</p>
          </div>
        </div>
        <div class="img">
          <img src="./images/shuffle-03.jpg" alt="">
          <div class="text">
            <h4>Awesome Image</h4>
            <p>Photography</p>
          </div>
        </div>
        <div class="img">
          <img src="./images/shuffle-04.jpg" alt="">
          <div class="text">
            <h4>Awesome Image</h4>
            <p>Photography</p>
          </div>
        </div>
        <div class="img">
          <img src="./images/shuffle-05.jpg" alt="">
          <div class="text">
            <h4>Awesome Image</h4>
            <p>Photography</p>
          </div>
        </div>
        <div class="img">
          <img src="./images/shuffle-06.jpg" alt="">
          <div class="text">
            <h4>Awesome Image</h4>
            <p>Photography</p>
          </div>
        </div>
        <div class="img">
          <img src="./images/shuffle-07.jpg" alt="">
          <div class="text">
            <h4>Awesome Image</h4>
            <p>Photography</p>
          </div>
        </div>
        <div class="img">
          <img src="./images/shuffle-08.jpg" alt="">
          <div class="text">
            <h4>Awesome Image</h4>
            <p>Photography</p>
          </div>
        </div>
      </div>
      <a href="#">more</a>
    </div>
    <!-- end portfolio -->

    <!-- start video -->
    <div class="video">
      <video src="images/awesome-video.mp4" autoplay loop muted></video>
      <div class="overlay"></div>
      <div class="info-text">
        <h2>super awesome video here</h2>
        <p>its all you need</p>
        <a href="#">see more</a>
      </div>
    </div>
    <!-- end video -->

    <!-- start about -->
    <div class="about">
      <div class="main-heading">
        <h2>about us</h2>
        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
      </div>
      <img src="images/about.png" alt="">
    </div>
    <!-- end about -->

    <!-- start stat -->
    <div class="stat">
      <div class="overlay"></div>
      <div class="container">
        <div class="box">
          <i class="fas fa-mug-hot"></i>
          <h3>1.236</h3>
          <p>Coffee Drinks</p>
        </div>
        <div class="box">
          <i class="far fa-folder"></i>
          <h3>256</h3>
          <p>Completed Projects</p>
        </div>
        <div class="box">
          <i class="far fa-envelope"></i>
          <h3>1,743</h3>
          <p>Mail Sent</p>
        </div>
        <div class="box">
          <i class="fas fa-trophy"></i>
          <h3>17</h3>
          <p>Awards Received</p>
        </div>
      </div>
    </div>
    <!-- end stat -->

    <!-- start skills -->
    <div class="skills">
      <div class="container">
        <div class="test">
          <div class="micro-heading">
            <h3>testimonials</h3>
            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
          </div>
          <div class="users">
            <div class="user">
              <img src="images/skills-01.jpg" alt="">
              <div class="text">
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                <div class="name">John Doe, CEO</div>
              </div>
            </div>
            <div class="user">
              <img src="images/skills-02.jpg" alt="">
              <div class="text">
                <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
                <div class="name">John Doe, CEO</div>
              </div>
            </div>
          </div>
          <div class="bullets">
            <span></span>
            <span class="active"></span>
            <span></span>
          </div>
        </div>
  
        <div class="skill">
          <div class="micro-heading">
            <h3>skills</h3>
            <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
          </div>
          <div class="lnags">
            <div class="lang">
              <h4>adobe</h4>
              <div class="bar">
                <span style="width: 90%;" data-progress="90%"></span>
              </div>
            </div>
            <div class="lang">
              <h4>html & css</h4>
              <div class="bar">
                <span style="width: 85%;" data-progress="85%"></span>
              </div>
            </div>
            <div class="lang">
              <h4>javascript</h4>
              <div class="bar">
                <span style="width: 80%;" data-progress="80%"></span>
              </div>
            </div>
            <div class="lang">
              <h4>php</h4>
              <div class="bar">
                <span style="width: 90%;" data-progress="90%"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end skills -->

    <!-- start quote -->
    <div class="quote">
      <div class="overlay"></div>
      <div class="container">
        <q>accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</q>
        <span>john doe</span>
      </div>
    </div>
    <!-- end quote -->

    <!-- start pricing -->
    <div class="pricing">
      <div class="container">
        <div class="main-heading">
          <h2>pricing</h2>
          <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
        </div>
        <div class="table">
          <div class="package">
            <div class="head">
              <h3 class="title">basic</h3>
              <span class="price"><sup>$</sup>19<sub>/mo</sub></span>
            </div>
            <ul>
              <li>feature no 1</li>
              <li>extra feature</li>
              <li>extra feature no 2</li>
              <li>feature</li>
            </ul>
            <button>buy now</button>
          </div>
          <div class="package">
            <div class="head">
              <h3 class="title">premium</h3>
              <span class="price"><sup>$</sup>29<sub>/mo</sub></span>
            </div>
            <ul>
              <li>feature no 1</li>
              <li>extra feature</li>
              <li>extra feature no 2</li>
              <li>feature</li>
            </ul>
            <button>buy now</button>
          </div>
          <div class="package">
            <div class="head">
              <h3 class="title">pro</h3>
              <span class="price"><sup>$</sup>39<sub>/mo</sub></span>
            </div>
            <ul>
              <li>feature no 1</li>
              <li>extra feature</li>
              <li>extra feature no 2</li>
              <li>feature</li>
            </ul>
            <button>buy now</button>
          </div>
          <div class="package">
            <div class="head">
              <h3 class="title">platinum</h3>
              <span class="price"><sup>$</sup>49<sub>/mo</sub></span>
            </div>
            <ul>
              <li>feature no 1</li>
              <li>extra feature</li>
              <li>extra feature no 2</li>
              <li>feature</li>
            </ul>
            <button>buy now</button>
          </div>
        </div>
        <div class="contact">
          <p>contact us if you have special request</p>
          <a href="#">contact us</a>
        </div>
      </div>
    </div>
    <!-- end pricing -->

    <!-- start subscribe -->
    <div class="subscribe">
      <div class="overlay"></div>
      <div class="container">
        <form action="">
          <i class="far fa-envelope fa-lg"></i>
          <input type="email" placeholder="your emali">
          <input type="submit" value="subscribe">
        </form>
        <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blan dit aliquet elit, eget tincidunt.</p>
      </div>
    </div>
    <!-- end subscribe -->

    <!-- start contact -->
    <div class="contact">
      <div class="container">
        <div class="main-heading">
          <h2>contact us</h2>
          <p>Curabitur arcu erat, accumsan id imperdiet et, porttitor at sem. Mauris blandit aliquet elit, eget tincidunt.</p>
        </div>
        <div class="content">
          <form action="">
            <input type="text" placeholder="your name">
            <input type="email" placeholder="your email">
            <textarea  placeholder="your message"></textarea>
            <input type="submit" value="send message">
          </form>
          <div class="info">
            <div class="phone">
              <h4>get in touch</h4>
              <div class="numbers">
                <p>+00 123.456.789</p>
                <p>+00 123.456.789</p>
              </div>
            </div>
            <div class="location">
              <h4>where are we</h4>
              <address>Awesome Address 17<br>New York, NYC<br>123-4567-890<br>USA</address>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end contact -->

    <!-- start footer -->
    <footer>
      <div class="overlay"></div>
      <div class="container">
        <img src="./images/logo.png" alt="">
        <div class="social">
          <p>we are social</p>
          <div class="icons">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fas fa-home"></i>
            <i class="fab fa-linkedin"></i>
          </div>
        </div>
        <p class="copyright">&copy; 2021 <span>kasper</span> all right reserved</p>
      </div>
    </footer>
    <!-- end footer -->
  </body>
</html>
