.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: auto;
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, auto);
}

.grid div {
    background-color: #2196F3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 10px;
}

.grid .one {
    grid-column: 1 / span 3;
}

.grid .two {
    grid-area: 2 / 1 / 2 / 3;
}

.grid .three {
    grid-row-start: 2;
}

.grid .four {
    grid-row-start: 3;
}

.grid .five {
    grid-area: 3 / 2 / 6 / 4;
}

.grid .six {
    grid-row-start: 4;
}

.grid .seven {
    grid-row-start: 5;
}

.grid .eight {
    grid-area: 1 / 1 / 1 / 4;
}
