* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.parent > div {
    background-color: #EEEEEE;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
}

@media (min-width: 1000px) {
    .parent > div {
        width: calc(25% - 10px);
    }
    .parent > div :first-child {
        color: #04988A;
    }
}

@media (min-width: 500px) and (max-width: 999px) {
    .parent > div {
        width: calc(50% - 10px);
    }
    .parent > div :first-child {
        color: red;
    }
}

@media (max-width: 499px) {
    .parent > div {
        width: calc(100% - 10px);
    }
    .parent > div :first-child {
        color: black;
    }
}
