footer
  .container
    .social
      h3.name fady
      .icons
        a(href="#"): i.fab.fa-facebook-f
        a(href="#"): i.fab.fa-twitter
        a(href="#"): i.fab.fa-youtube
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus nulla rem, dignissimos iste aspernatur
    ul.links
      li: a #[i.fa-solid.fa-angles-right] important link 1
      li: a #[i.fa-solid.fa-angles-right] important link 2
      li: a #[i.fa-solid.fa-angles-right] important link 3
      li: a #[i.fa-solid.fa-angles-right] important link 4
      li: a #[i.fa-solid.fa-angles-right] important link 5
    .contact
      p.location #[i.fas.fa-map-marker-alt.fa-fw] Egypt, Giza, Inside The Sphinx, Room Number 220
      p.time #[i.far.fa-clock.fa-fw] Business Hours: From 10:00 To 18:00
      p.phone #[i.fas.fa-phone-volume.fa-fw]
        .
         +20123456789
         +20198765432
    .imgs
      img(src="../../images/gallery-01.png", alt="")
      img(src="../../images/gallery-02.png", alt="")
      img(src="../../images/gallery-03.jpg", alt="")
      img(src="../../images/gallery-04.png", alt="")
      img(src="../../images/gallery-05.jpg", alt="")
      img(src="../../images/gallery-06.png", alt="")
  p made with #[<3] by fady
