header.bg-white.p-3.d-flex.justify-content-between
  .search.position-relative
    input.rounded-3(type="search" placeholder="type a keyword")
    i.fa-regular.fa-magnifying-glass.position-absolute
  .user-profile.d-flex.align-items-center
    .notif: i.fa-regular.fa-bell.fa-lg
    .img: img.img-fluid.ms-3(src="../../image/avatar.png", alt="")
