* {
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
div {
  margin: 20px auto;
  background-color: #ddd;
  padding: 30px;
  font-weight: bold;
  width: 200px;
  border-radius: 5px;
  text-align: center;
}
span {
  margin: 0 auto;
  background-color: red;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
  display: block;
  width: fit-content;
  cursor: pointer;
}