$blue: #0075ff;
$blue-alt: #0d69d5;
$orange: #f59e0b;
$green: #22c55e;
$red: #f44336;
$grey: #888;

$sidebar-lg: 250px;
$sidebar-sm: 58px;

$padding: 20px;
$radius: 6px;
$curve: 10px;

$t-time: 0.3s;

$mobile: '(max-width : 767px)';
$min-mobile: "(min-width: 768px)";

$tablet: "(max-width: 991px)";
$min-tablet: "(min-width: 992px)";
