* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}
:root {
    --margin: 10px;
    --padding-h: 240px;
    --padding-v: 35px;
    --background-white: #eee;
    --background-gray: #F6F6F6;
    --percentage: 87%;
}
.page {
    width: 1900px;
    height: 2450px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto;
}
.margin {
    padding-left: var(--padding-h);
    padding-right: var(--padding-h);
    padding-top: var(--padding-v);
    padding-bottom: var(--padding-v);
}
header {
    background-color: var(--background-white);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    box-shadow: 0 2px 3px -2px gray;
    margin-bottom: 1px;
}
header > .title {
    font-size: 40px;
}
.links ul {
    padding: 0;
    font-size: 25px;
}
.links li {
    list-style-type: none;
    display: inline-block;
    padding-right: 5px;
}

nav {
    background-color: var(--background-gray);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
nav > .descrition {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}
nav .title {
    font-size: 45px;
    margin-top: 30px;
    color: black;
    text-align: center;
}
nav .title span {
    color: #03A9F4;
}
nav .text {
    font-size: 20px;
    text-align: center;
    line-height: 1.7;
    text-align: center;
}

nav .images {
    background-color: var(--background-white);
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 1px;
    box-shadow: 0 2px 3px -2px gray;
}
nav .images > * {
    width: 400px;
}
nav .images img {
    width: 300px;
    height: 300px;
}
nav .images .title {
    font-size: 28px;
    color: black;
    margin-bottom: 15px;
}
nav .images .descrition {
    opacity: 0.6;
    font-size: 18px;
    margin-bottom: 40px;
    line-height: 1.7;
}

article {
    background-color: var(--background-gray);
    display: flex;
    justify-content: center;
}
article img {
    max-width:45%;
    height:auto;
}
article div h3 {
    font-size: 40px;
    color: black;
}
article div .text {
    line-height: 1.7;
    font-size: 20px;
}

section {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
section .number {
    background-color: var(--background-white);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
    box-shadow: 0 2px 3px -2px gray;
}
section .number > div {
    width: 460px;
    height: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}
section .number > div h2 {
    font-size: 50px;
    margin-bottom: 0;
}
section .number > div .text {
    font-size: 20px;
}
section .number > div:first-child {
    background-color: #B33939;
}
section .number > div:nth-child(2) {
    background-color: #227093;
}
section .number > div:last-child {
    background-color: #218C74;
}

section .skills {
    background-color: var(--background-gray);
    color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    font-size: 20px;
}
section .skills h3 {
    font-size: 40px;
    width: 100%;
}
section .skills div {
    font-size: 30px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 10px;
    width: 95%;
    direction: rtl;
}
section .skills div::before {
    height: 60px;
    margin-left: 10px;
    padding-right: 20px;
    padding-top: 15px;
    width: var(--percentage);
}
section .skills div:nth-of-type(1)::before {
    content: "60%";
    background-image: linear-gradient(to right, #03A9F4 60%, white 60%);
    text-indent: -13.5%;
}
section .skills div:nth-of-type(2)::before  {
    content: "70%";
    background-image: linear-gradient(to right, #03A9F4 70%, white 70%);
    text-indent: -34%;
}
section .skills div:nth-of-type(3)::before  {
    content: "80%";
    background-image: linear-gradient(to right, #03A9F4 80%, white 80%);
    text-indent: -54%;
}
section .skills div:nth-of-type(4)::before  {
    content: "65%";
    background-image: linear-gradient(to right, #03A9F4 65%, white 65%);
    text-indent: -24%;
}
section .skills div:nth-of-type(5)::before  {
    content: "90%";
    background-image: linear-gradient(to right, #03A9F4 90%, white 90%);
    text-indent: -75%;
}

footer {
    width: 100%;
    background-color: #333333;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    font-size: 20px;
}
footer span {
    color: #03A9F4;
}
