.lang {
    width: 400px;
    margin: auto;
    background-color: #EEEEEE;
    list-style: none;
    margin: 5px;
    padding: 5px;
}

.item {
    background-color: #FFFFFF;
    width: 330px;
    height: fit-content;
    margin: 5px;
    padding: 5px;
}

.greek {
    list-style: upper-roman;
}
