.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;

    display: grid;
    grid-template: 1fr 4fr / repeat(3, 1fr) ;
    gap: 10px;
}

.grid div {
    background-color: #607D8B;
    counter-increment: name;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid div::before {
    content: "Element " counter(name);
}
